.comment {
    display: flex;
    margin-bottom: 10px;
}

.comment--avatar {
    height: 50px;
    margin-right: 10px;
}

.comment--content {
    background-color: 	#dfe3ee;
    border-radius: 5px;
    padding: 5px;
}

.comment--content h3 {
    display: inline;
    font-size: 12px;
    color: #333;
    font-weight: 700;
}

.comment--content p {
    display: inline;
    font-size: 12px;
    color: #333;
    font-weight: 400;
    margin-left: 5px;
}

.avatarPhoto {
    height: 30px;
    width: 30px;
    border-radius: calc(30px / 2);
}