.post {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 500px;
}

.post--header {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post--header img {
    height: 25px;
    margin-right: 10px;
    border-radius: calc(30px / 2);
    background-position: center;
}

.post--header-name h5 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #333;
}

.post--header-name p {
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #888;
}

.post .content {
    font-weight: 400;
    font-size: 12;
}

.comments {
    padding-top: 10px;
    border-top: solid 1px rgba(0,0,0,.1);
}